@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
section{
    margin-bottom: 150px;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-btn{
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    align-items: center;
    padding: 20px;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    align-items: center;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0 145px;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    padding: 10px;
}
.experience-item p{
    text-align: justify;
}
#experience-1{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice:8;
}
#experience-2{
    border-left: 7px solid;
    border-image: linear-gradient(#2193b0, #6dd5ed);
    border-image-slice:8;
}
footer p{
    text-align: center;
}